<!DOCTYPE html>
<html>
  <head>
    <title>AvancevlChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if flash[:alert] %>
      <p style="color: red"><%= flash[:alert] %></p>
    <% end %>

    <% if current_user %>
      <div> Hi <%= current_user.name %> </div>
    <% end %>

    <% if !current_page?('/home') %>
      <%= link_to 'Back to Home', home_pages_path %>
    <% end %>

    <%= yield %>
  </body>
</html>
